/* basic tag selected stuff */
img {
  display: block;
  max-width:2in;
  max-height:2in;
  width: auto;
  height: auto;
}

.tinyicon > img {
  height: 32px ;
}



th, td {
  padding: 8px ;
  border: 1px solid #ddd;
  background-color: white;
}

*, .tablinks {
  font-family: Verdana, sans-serif;
}
 
/* tabs */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

.tab button:hover {
  background-color: #5de568;
}

.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
} 


/* drawer stuff! */
.drawer {
  background-color: rgb(133, 133, 133);
  color: rgb(254, 254, 254);
  font-weight: bold ;
  cursor: pointer;
  padding: 10px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 16px;
  /*font-family:  sans-serif ;*/
}

.drawer > .active, .drawer:hover {
  background-color: rgb(103, 187, 118);
}

.drawercontent {
  padding: 18px;
  display: none;
  overflow: hidden;
  background-color: #b6b6b6;
}

.drawer:after {
  color: white;
  float: right;
  margin-left: 5px;
  /*font-family: sans-serif;*/
}


/* end drawer stuff */

/* tool stuff! */
.tool {
  background-color: rgb(227, 227, 227);
  color: black;
  cursor: pointer;
  padding: 10px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 16px;
  /*font-family: sans-serif ;*/
}

.tool > .active, .tool:hover {
  background-color: rgb(202, 247, 199);
}

.toolcontent {
  padding: 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}

.tool:after {
  
  
  color: white;
  float: right;
  margin-left: 5px;
  /*font-family: sans-serif;*/
}


/* end tool stuff */


/* The sidebar menu */
.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 160px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #111; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
}

/* The navigation menu links */
.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Style page content */
.main {
  margin-left: 160px; /* Same as the width of the sidebar */
  padding: 0px 10px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
} 