html {
  height: 100%;
  width: 100%;
  font-family: Arial;
}

body {
  background-image: url("https://cdn.hovia.com/app/uploads/pink-gingham-wallpaper-Plain.jpg");
}

.row {
  display: flex;
}

.column {
  flex: 33.33%;
  padding: 5px;
}